.wrapp1 {
	background-color: transparent;
}
.logo3 {
	width: 180px;
	float: left;
}
.logo3 img {
	width:100%;
	vertical-align: top;
}
.textbox
  {
  border: 1px solid #DBE1EB;
  font-size: 15px;
  font-family: Arial, Verdana;
  padding-left: 3.5px;
  padding-right: 3.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  .select
  {
  border: 1px solid #DBE1EB;
  font-size: 15px;
  font-family: Arial, Verdana;
  padding-left: 3.5px;
  padding-right: 3.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  .sub
  {
  border: 1px solid #DBE1EB;
  font-size: 15px;
  font-family: Arial, Verdana;
  padding-left: 3.5px;
  padding-right: 3.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }

